 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light ruby-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm 27, grew up in Brittany (France). You should definitely go there ! Great landscape, great people, great crepes !<br>In short, I'm a digital nomad with an <strong>entrepreneur spirit</strong> loving electro music and card magic.</p>
                </div>
                <div class="col-lg-4">
                    <p>On my spare time, I rehearse magic trick, lift weights, drink coffee. I'm although building a <strong>marketplace</strong> from scratch using Ember.js and Sinatra.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>