<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{% t section_heads.contact %}</h2>
				<hr class="star-primary ruby-light ruby-light-black">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <p class="contact-text">
                    {% t contact.intro_text %}
                </p>
				<form  action="//formspree.io/guillaume.voisin29@gmail.com" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <select class="cs-select cs-skin-underline" name="type">
                            <option value="" disabled selected>{% t contact.your_need %}</option>
                            <option value="mvp">{% t contact.your_need_options.mvp %}</option>
                            <option value="eshop">{% t contact.your_need_options.eshop %}</option>
                            <option value="onepage">{% t contact.your_need_options.onepage %}</option>
                            <option value="ror">{% t contact.your_need_options.devs %}</option>
                            <option value="other">{% t contact.your_need_options.other %}</option>
                        </select>
                    </div>
                    <div class="row control-group">
                        <select class="cs-select cs-skin-underline" name="budget">
                            <option value="" disabled selected>{% t contact.your_budget %}</option>
                            <option value="<1000">{% t contact.your_budget_options.less1000 %}</option>
                            <option value="1000-2500">{% t contact.your_budget_options.1000 %}</option>
                            <option value="2500-5000">{% t contact.your_budget_options.2500 %}</option>
                            <option value="5000-20000">{% t contact.your_budget_options.5000 %}</option>
                            <option value=">20000">{% t contact.your_budget_options.more20000 %}</option>
                        </select>
                    </div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>{% t contact.name %}</label>
							<input type="text" name="name" class="form-control" placeholder="{% t contact.name %}" id="name" required data-validation-required-message="{% t validation.required %}">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>{% t contact.email %}</label>
							<input type="email" name="_replyto" class="form-control" placeholder="{% t contact.email %}" id="email" required data-validation-required-message="{% t validation.required %}"  data-validation-validemail-message="{% t validation.email_syntax %}">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="[Freelance] New mission">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>{% t contact.message %}</label>
							<textarea rows="5" name="message" class="form-control" placeholder="{% t contact.message %}" id="message" required data-validation-required-message="{% t validation.required %}"></textarea>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-success btn-lg pull-right js-send-form" data-sent-text="{% t contact.thanks_text %}">{% t contact.send %}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
