    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4 footer-infos">
                        <h3>{% t footer.infos %}</h3>
                        <p>{{ site.credits }}</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{% t footer.around_the_web %}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{% t footer.location %}</h3>
                        <p>
                            {% for adress in site.address %}
                            {{ adress.line }} <br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
                        <a href="{{ link1 }}" class="flag flag-gb ml7" alt="EN" ></a>
                        {% capture link2 %}{{ site.baseurl_root }}fr{{ page.url  }}{% endcapture %}
                        <a href="{{ link2 }}" class="flag flag-fr" alt="FR" ></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
