 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.client }}</h2>
                            <hr class="star-primary ruby-light ruby-light-black-on-white">
                            <a target="_blank" href="http://{{ post.client_url }}">
                                <img src="/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            </a>
                            <p>{{ post.description[site.lang] }}</p>
                            <p class="badges">
                                {% for techno in post.technos %}
                                <span class="badge {{ techno.categ }}">{{ techno.name }}</span>
                                {% endfor %}
                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>{{ post.client }}</strong>
                                </li>
                                <!--<li>Date:
                                    <strong>{{ post.project-date }}</strong>
                                </li>-->
                                <li>Mission:
                                    <strong>{{ post.category }}</strong>
                                </li>
                                {% if post.budget %}
                                <li>Approximate budget:
                                    <strong>{{ post.budget }}</strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {% t posts.close %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}