<!-- Skills Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t section_heads.skills %}</h2>
                <hr class="star-primary ruby-light ruby-light-black">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="skill-element">
            <div class="skill-header">
                <h3 class="skill-title">Front-end (HTML, CSS, Responsive, JavaScript, UX)</h3>
            </div>
            <div class="skill-line">
                <div class="skill-line-inside-wr perc-92">
                    <div class="skill-line-inside wow"></div>
                </div>
            </div>
        </div>
        <div class="skill-element">
            <div class="skill-header">
                <h3 class="skill-title">Back-end (Ruby on Rails, Ruby, MySQL)</h3>
            </div>
            <div class="skill-line">
                <div class="skill-line-inside-wr perc-90">
                    <div class="skill-line-inside wow"></div>

                </div>
            </div>
        </div>
        <div class="skill-element">
            <div class="skill-header">
                <h3 class="skill-title">{% t skills.admin_sys %}</h3>
            </div>
            <div class="skill-line">
                <div class="skill-line-inside-wr perc-65">
                    <div class="skill-line-inside wow"></div>

                </div>
            </div>
        </div>
        <div class="skill-element">
            <div class="skill-header">
                <h3 class="skill-title">Photoshop</h3>
            </div>
            <div class="skill-line">
                <div class="skill-line-inside-wr perc-50">
                    <div class="skill-line-inside wow"></div>
                </div>
            </div>
        </div>
    </div>
</section>